<div class="col-3 text-center pt-5">
    <a href="/books/{{id}}" class="text-decoration-none text-secondary ">
        <div>
            <img src="{{image_url}}" width="300px" height="400px" alt="{{book.title}}">
        </div>
        <div class="pt-3">
            <h3>{{title}}</h3>
        </div>
    </a>
</div>