body{
    background-color: antiquewhite;
    padding: 0; 
    margin: 0; 
}
header{
    width: 1200px;
    position: relative;
    margin: auto;
    
}
h1{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

/* Gray Cat CSS */
.stack{
    width: 200px; 
    height: 200px;
}
.box1{
    height: 50px; 
    width: 220px;
    background-color: navy;
    position: relative;
    top: 194px; 
    left: 150px; 
    border-radius: 15px;
}
.box2{
    height: 30px; 
    width: 190px; 
    background-color: lightcoral;
    position: relative;
    top: 98px;
    left: 173px;
    border-radius: 7px;
}
.box3 {
    height: 60px; 
    width: 100px; 
    background-color: lightgreen; 
    position: relative; 
    top: -8px; 
    left: 170px;
    border-radius: 10px;
}
.box4{
    height: 30px; 
    width: 200px; 
    background-color: deepskyblue;
    position: relative; 
    top: -108px;
    left: 177px; 
    transform: rotate(36deg);
    border-radius: 5px;
}
.b1{
    color: whitesmoke; 
    position: relative; 
    top: 15px;
    left: 40px;
}
.b2{
    color: black;
    position: relative; 
    top: 5px; 
    left: 45px;
}
.b3{
    color: navy; 
    position: relative; 
    top: 10px;
    left: 10px
}
.b4{
    color: black; 
    position: relative; 
    top: 5px; 
    left: 10px; 
}
.body{
    height: 150px; 
    width: 120px; 
    background-color: gray;
    position: relative;
    top: 350px;
    left: 60px;
    border-radius: 80px 0 0 0;
}
.face{
    height: 75px; 
    width: 100px;
    background-color: gray;
    position: relative; 
    top: 125px;
    left: 100px;
    border-radius: 20px;
}
.tail{
    height: 15px; 
    width: 50px; 
    background-color: gray; 
    position: relative; 
    top: 260px;
    left: 15px;
    border-radius: 8px;
}
.e1, .e2 {
    width: 0;
    height: 0;
    border-bottom: 30px solid gray; 
    border-left: 20px solid transparent;
    position: relative;
}
.e1{
    bottom: 100px;
    left: 100px;
}
.e2{
    bottom: 130px;
    left: 50px;
}
.inner1, .inner2 {
    height: 30px;
    width: 2px;
    background-color: pink;
    border-right: solid gray 2px;
}
.i1, .i2 {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    position: relative;
}
.i1{
    bottom: -20px;
    left: 60px;
}
.i2 {
    bottom: 10px;
    left: 25px;
}
.p1, .p2{
    width: 25px; 
    height: 25px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 5px;
    top: 5px;
}
.nose{
    height: 0;
    width: 0;
    border-top: 7px solid pink;
    border-left: 7px solid transparent;
    position: relative; 
    left: 54px;
    top: -12px;
    transform: rotate(-225deg);
}
.tag{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

}

/* Sleepy Cat CSS */
.container-sleepy{
    /* border: solid 2px gray; */
    height: 400px; 
    width: 400px; 
    position: absolute; 
    margin: auto;
    top: 100; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}
.sleepy-body{
    height: 110px; 
    width: 200px; 
    background-color: rgb(245, 188, 80);
    position: relative;
    top: 200px;
    left: 100px;
    border-radius: 80px 80px 0 0;
}
.sleepy-head{
    height: 70px;
    width: 80px;
    background-color: rgb(245, 188, 80);
    position: relative;
    top: 130px; 
    left: 290px;
    border-radius: 0 80px 80px 0;
}
.sleepy-e1, .sleepy-e2{
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(245, 188, 80); 
    border-right: 20px solid transparent;
    position: relative;
}
.sleepy-e1{
    bottom: -40px;
    left: 300px;
}
.sleepy-e2{
    bottom: -10px;
    left: 320px;
}
.sleepy-l1, .sleepy-l2 {
    height: 15px; 
    width: 40px;
    background-color: white;
    position: relative;
    top: 0; 
    left: 10px;
    border-radius: 7px;
}
.sleepy-l1{
    top: 55px; 
    left: 145px
}
.sleepy-l2{
    top: 40px;
    left: 220px;
}
.sleepy-tail{
    height: 20px;
    width: 100px;
    background-color: rgb(245, 188, 80);
    position: relative;
    left: 5px;
    top: 20px;
    border-radius: 8px;
}
.sleepy-i1{
   top: 10px;
   left: 10px;
}
.sleepy-i2{
    top: -20px; 
    left: 40px;
}
.sleepy-i1, .sleepy-i2 {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    position: relative;
}
.sleepy-p1, .sleepy-p2{
    width: 25px; 
    height: 25px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 2px;
    top: 2px;
}
.sleepy-nose{
    height: 0;
    width: 0;
    border-top: 7px solid black;
    border-left: 7px solid transparent;
    position: relative; 
    left: 37px;
    top: -20px;
    transform: rotate(-225deg);
}
.stripe1{
    height: 50px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 97px;
    border-radius: 10px;
}
.stripe2{
    height: 40px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 130px;
    border-radius: 10px;
    top: -48px;
}
.stripe3{
    height: 40px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 65px;
    border-radius: 10px;
    top: -89px;
}

/* Grid Container */
.grid{
    height: 300px;
    width: 900px;
    position: absolute;
    margin: auto;
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 18px; 
    border: 2px solid red;
}
.grid-container{
    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 50px;
}
.item1{
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 1; 
    grid-row-end: 1;
    border: 2px solid green;
}
.item2{
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 1;
    border: 2px solid green;
}
.item3{
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 1;
    border: 2px solid green;
}
.item4{
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 2; 
    grid-row-end: 2;
    border: 2px solid green;
}
.item5{
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 2;
    border: 2px solid green;
}
.item6{
    grid-column-start: 3; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 2;
    border: 2px solid green;
}