<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classics with Cats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="page">
        <!-- Navbar -->
         <nav class="navbar navbar-expand-lg justify-content-around" style="background-color:rgb(177, 222, 220); border-radius: 10px; font-family: 'Courier New', Courier, monospace">
            <a class="navbar-brand mb-0 h1" href="/">Classics with Cats</a>

            <div class="d-flex justify-content-center">
                <div class="btn-group" style="width: 100px; margin: 10px">
                    <button type="button" class="btn" style="width: 100px"><a href="/books"
                            class="text-decoration-none text-black">Books</a></button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/books/category/Fiction">Fiction</a></li>
                        <li><a class="dropdown-item" href="/books/category/Nonfiction">Nonfiction</a></li>
                        <li><a class="dropdown-item" href="/books/category/Drama">Drama</a></li>
                        <li><a class="dropdown-item" href="/books/category/Poetry">Poetry</a></li>
                        <li><a class="dropdown-item" href="/books/category/Folklore">Folklore</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/books">View All</a></li></button>
                    </ul>
                </div>
                {{#if loggedIn}}
                <button class="btn btn-success "><a href="/dashboard"
                        class="text-decoration-none text-light">MyBooks</button>
                <button class="btn btn-danger "><a id="logout">Logout</a></button>
                {{else}}
                <button class="btn text-black" style="background: rgb(254, 155, 169); margin: 10px; padding: 0px; width: 100px"><a href="/login"
                        class="text-decoration-none text-black">Login</a></button>
                {{/if}}
            </div>
        </nav>

        <main>
            {{{body}}}
        </main>

        <footer class="bg-footer">
            <div class="container-footer">
                <!-- sleeping orange cat HTML -->
                <div class="container-sleepy">
                    <div class="sleepy-body">
                        <div class="stripe1"></div>
                        <div class="stripe2"></div>
                        <div class="stripe3"></div>
                    </div>
                    <div class="sleepy-head">
                        <div class="sleepy-i1">
                            <div class="sleepy-p1"></div>
                        </div>
                        <div class="sleepy-i2">
                            <div class="sleepy-p2"></div>
                        </div>
                        <div class="sleepy-nose"></div>
                    </div>
                    <div class="sleepy-e1"></div>
                    <div class="sleepy-e2"></div>
                    <div class="sleepy-l1"></div>
                    <div class="sleepy-l2"></div>
                    <div class="sleepy-tail"></div>
                </div>

                <div class="row align-self-center">
                    <div class="text-center">
                        <p>
                            <small class="d-block">Classics with Cats &copy;
                                <script>document.write(new Date().getFullYear());</script> All Rights
                                Reserved.
                            </small>
                            <small class="d-block">Designed &amp; developed by <a href="https://github.com/zwind66"
                                    target="_blank">Shuai
                                    Zuo</a> &amp; <a href="https://github.com/corimest" target="_blank">Corinne
                                    Corinne</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>