<div class="container tex">
    <div class="text-center pt-5" style="font-family: 'Courier New', Courier, monospace">
        <h2>Add New Book</h2>
        <p><em>All fields are required</em></p>
    </div>

    <div class="row">
        <form class="new-book-form">
            <div class="pt-2" style="font-family: 'Courier New', Courier, monospace">
                <label for="title">
                    <h4>Title</h4>
                </label>
                <input type="text" id="title" class="form-control" style="font-family: 'Courier New', Courier, monospace">
            </div>

            <div class="pt-2">
                <label for="author" style="font-family: 'Courier New', Courier, monospace">
                    <h4>Author</h4>
                </label>
                <input type="text" id="author" class="form-control" style="font-family: 'Courier New', Courier, monospace">
            </div>

            <div class="pt-2">
                <label for="summary" style="font-family: 'Courier New', Courier, monospace">
                    <h4>Summary</h4>
                </label>
                <textarea name="summary" id="summary" cols="30" rows="10" class="form-control" style="font-family: 'Courier New', Courier, monospace"></textarea>
            </div>

            <div class="pt-2">
                <label for="image_link" style="font-family: 'Courier New', Courier, monospace">
                    <h4>Image link</h4>
                </label>
                <input type="text" id="image_link" class="form-control" style="font-family: 'Courier New', Courier, monospace" placeholder="A url to your image">
            </div>

            <div class="pt-2" style="font-family: 'Courier New', Courier, monospace">
                <label for="category">
                    <h4>Category</h4>
                </label>
                <div class="col-md-12">
                    <select id="category" class="select-css" style="font-family: 'Courier New', Courier, monospace">
                        <option value="">Please choose a category</option>
                        <option value="Fiction">Fiction</option>
                        <option value="Nonfiction">Nonfiction</option>
                        <option value="Drama">Drama</option>
                        <option value="Poetry">Poetry</option>
                        <option value="Folklore">Folklore</option>
                    </select>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Submit" class="btn">
            </div>
        </form>


    </div>
</div>

<script src="/javascript/add-post.js"></script>