<div class="pt-5 pb-5 text-center">
    <h2>Books</h2>
</div>
<div class="bg-light row  d-flex justify-content-center" style="padding-top: 30px; padding-bottom: 30px">
    <div class="col-1 text-center">
        <a href="/books">
            <h3 class="btn btn-outline-success">ALL BOOKS</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Fiction">
            <h3 class="btn btn-outline-success">FICTION</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Nonfiction">
            <h3 class="btn btn-outline-success">NONFICTION</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Drama">
            <h3 class="btn btn-outline-success">DRAMA</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Poetry">
            <h3 class="btn btn-outline-success">POETRY</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Folklore">
            <h3 class="btn btn-outline-success">FOLKLORE</h3>
        </a>
    </div>
</div>

<div class="container">
    <div class="pt-5 text-center text-secondary font-weight-bold">
        <h2>Featured Books</h2>
    </div>
    <div class="row justify-content-center">
        {{#each books as |book|}}
        {{> book-info book }}
        {{/each}}
    </div>
</div>