<div id="fh5co-product">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Books</h2>
                <p class="mt-40">
                    <a href="/dashboard/new" class="btn btn-primary btn-outline btn-lg">Add a Book</a>
                </p>
            </div>
        </div>
        <div class="row">
            {{#each books as |book|}}
            {{> my-book-info book }}
            {{/each}}
        </div>
    </div>
</div>