<div class="container">
    <div class="pt-5 pb-5 text-center">
        <h2>My Books</h2>
        <p class="mt-4">
            <a href="/dashboard/new" class="btn btn-primary btn-outline btn-lg">Add a Book</a>
        </p>
    </div>
    {{#if books.length}}
    <div class="row">
        {{#each books as |book|}}
        {{> book-info book }}
        <a href="/dashboard/edit/{{id}}" class="btn btn-primary btn-outline btn-lg">Edit Book</a>
        {{/each}}
    </div>
    {{/if}}
</div>