<div id="fh5co-product">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Update this book</h2>
                <p><em>All fields are required</em></p>
            </div>

        </div>

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 fh5co-heading">

                <form class="edit-book-form" action="#">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="title">Title</label>
                            <input type="text" id="title" class="form-control" value="{{book.title}}">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="author">Author</label>
                            <textarea name="author" id="author" cols="10" rows="10"
                                class="form-control">{{book.author}}</textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="surmary">Surmary</label>
                            <textarea name="surmary" id="surmary" cols="30" rows="10" class="form-control">
                                        {{book.book_surmary}}
                                        </textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="image_link">Image link</label>
                            <input type="text" id="image_link" class="form-control" value="{{book.image_url}}">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="category">Category</label>
                        </div>
                        <div class="col-md-12">
                            <select id="category" class="select-css">
                                <option value="">Please choose a category</option>
                                <option value="Fiction">Fiction</option>
                                <option value="Nonfiction">Nonfiction</option>
                                <option value="Drama">Drama</option>
                                <option value="Poetry">Poetry</option>
                                <option value="Folklore">Folklore</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group mt-40 text-center">
                        <input type="submit" value="Update" class="btn btn-primary">
                        <input type="submit" value="Delete" class="btn btn-primary delete-book-btn">
                    </div>

                </form>

            </div>

        </div>

        <script src="/javascript/delete-post.js"></script>
        <script src="/javascript/edit-post.js"></script>