<div class="d-flex justify-content-center">
    <div class="stack w-30 d-inline-block">
        <div class="body">
            <div class="e1">
                <div class="inner1"></div>
            </div>
            <div class="e2">
                <div class="inner2"></div>
            </div>
        </div>
        <div class="face">
            <div class="i1">
                <div class="p1"></div>
            </div>
            <div class="i2">
                <div class="p2"></div>
            </div>
            <div class="nose"></div>
        </div>
        <div class="tail"></div>
        <div class="box1">
            <div class="b1">
                <p>A Tail of Two Kitties</p>
            </div>
        </div>
        <div class="box2">
            <div class="b2">
                <p>Don Catxote</p>
            </div>
        </div>
        <div class="box3">
            <div class="b3">
                <p>The Great Catsby</p>
            </div>
        </div>
        <div class="box4">
            <div class="b4">
                <p>A Street-Cat Named Desire</p>
            </div>
        </div>
    </div>

    <div class="title w-30 d-inline-block">
        <h1>Classics with Cats</h1>
        <p class="tag">Explore reading with cat friends</p>
    </div>
</div>

<div class="container-fluid bg-light row  d-flex justify-content-center" style="padding-top: 30px; padding-bottom: 30px">
    <div class="col-1 text-center">
        <a href="/books">
            <h3 class="btn btn-outline-success">ALL BOOKS</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Fiction">
            <span class="icon">
                <i class="flaticon-fiction"></i>
            </span>
            <h3 class="btn btn-outline-success">FICTION</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Nonfiction">
            <span class="icon">
                <i class="flaticon-fiction"></i>
            </span>
            <h3 class="btn btn-outline-success">NONFICTION</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Drama">
            <span class="icon">
                <i class="flaticon-boiled"></i>
            </span>
            <h3 class="btn btn-outline-success">DRAMA</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Poetry">
            <span class="icon">
                <i class="flaticon-piece-of-cake"></i>
            </span>
            <h3 class="btn btn-outline-success">POETRY</h3>
        </a>
    </div>
    <div class="col-1 text-center">
        <a href="/books/category/Folklore">
            <span class="icon">
                <i class="flaticon-piece-of-cake"></i>
            </span>
            <h3 class="btn btn-outline-success">FOLKLORE</h3>
        </a>
    </div>
</div>

<div class="container">
    <div class="pt-5 text-center text-secondary font-weight-bold">
        <h2>Featured Books</h2>
    </div>
    <div class="row justify-content-center">
        {{#each books as |book|}}
        {{> book-info book }}
        {{/each}}
    </div>
</div>