<div class="d-flex justify-content-center" style="padding: 25px">
    <div class="stack w-30 d-inline-block">
        <div class="body">
            <div class="e1">
                <div class="inner1"></div>
            </div>
            <div class="e2">
                <div class="inner2"></div>
            </div>
        </div>
        <div class="face">
            <div class="i1">
                <div class="p1"></div>
            </div>
            <div class="i2">
                <div class="p2"></div>
            </div>
            <div class="nose"></div>
        </div>
        <div class="tail"></div>
        <div class="box1">
            <div class="b1">
                <p>A Tail of Two Kitties</p>
            </div>
        </div>
        <div class="box2">
            <div class="b2">
                <p>Don Catxote</p>
            </div>
        </div>
        <div class="box3">
            <div class="b3">
                <p>The Great Catsby</p>
            </div>
        </div>
        <div class="box4">
            <div class="b4">
                <p>A Street-Cat Named Desire</p>
            </div>
        </div>
    </div>

    <div class="title w-30 d-inline-block">
        <h1 class="animate__animated animate__tada">Classics with Cats</h1>
        <p class="tag animate__animated animate__tada">Explore reading with cat friends</p>
    </div>
</div>

<div class="container-fluid row  d-flex justify-content-center" style="background-color:rgb(177, 222, 220); border-radius: 10px; padding-top: 30px; padding-bottom: 30px; margin: 0px;">
    <div class="col-2 text-center" style="border-radius:10px">
        <a href="/books">
            <h3 class="btn animate__animated animate__pulse" style="background: rgb(254, 155, 169); font-family: 'Courier New', Courier, monospace">ALL BOOKS</h3>
        </a>
    </div>
    <div class="col-2 text-center">
        <a href="/books/category/Fiction">
            <span class="icon">
                <i class="flaticon-fiction"></i>
            </span>
            <h3 class="btn animate__animated animate__pulse" style="background: rgb(254, 155, 169); font-family: 'Courier New', Courier, monospace">FICTION</h3>
        </a>
    </div>
    <div class="col-2 text-center">
        <a href="/books/category/Nonfiction">
            <span class="icon">
                <i class="flaticon-fiction"></i>
            </span>
            <h3 class="btn animate__animated animate__pulse" style="background: rgb(254, 155, 169); font-family: 'Courier New', Courier, monospace">NONFICTION</h3>
        </a>
    </div>
    <div class="col-2 text-center">
        <a href="/books/category/Drama">
            <span class="icon">
                <i class="flaticon-boiled"></i>
            </span>
            <h3 class="btn animate__animated animate__pulse" style="background: rgb(254, 155, 169); font-family: 'Courier New', Courier, monospace">DRAMA</h3>
        </a>
    </div>
    <div class="col-2 text-center">
        <a href="/books/category/Poetry">
            <span class="icon">
                <i class="flaticon-piece-of-cake"></i>
            </span>
            <h3 class="btn animate__animated animate__pulse" style="background: rgb(254, 155, 169); font-family: 'Courier New', Courier, monospace">POETRY</h3>
        </a>
    </div>
    <div class="col-2 text-center">
        <a href="/books/category/Folklore">
            <span class="icon">
                <i class="flaticon-piece-of-cake"></i>
            </span>
            <h3 class="btn animate__animated animate__pulse" style="background: rgb(254, 155, 169); font-family: 'Courier New', Courier, monospace">FOLKLORE</h3>
        </a>
    </div>
</div>

<div class="container">
    <div class="pt-5 text-center text-black font-weight-bold" style="font-family: 'Courier New', Courier, monospace">
        <h2>Featured Books</h2>
    </div>
    <div class="row justify-content-center">
        {{#each books as |book|}}
        {{> book-info book }}
        {{/each}}
    </div>
</div>