body{
    background-color: rgb(246, 222, 226);
}
header {
    background-color: rgb(177, 222, 220);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.tag{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.title{
    width: 700px;
    justify-content: center;
    margin-left: 30px;
    margin-top: 50px;
}

/* Gray Cat CSS */
.stack{
    width: 375px; 
    height: 260px;
    padding: 10px;
}
.box1{
    height: 50px;
    width: 220px;
    background-color: navy;
    position: relative;
    top: -52px;
    left: 170px;
    border-radius: 15px;
}
.box2{
    height: 30px;
    width: 190px;
    background-color: lightcoral;
    position: relative;
    top: -132px;
    left: 190px;
    border-radius: 7px
}
.box3 {
    height: 60px;
    width: 100px;
    background-color: lightgreen;
    position: relative;
    top: -224px;
    left: 190px;
    border-radius: 10px;
}
.box4{
    height: 30px;
    width: 214px;
    background-color: deepskyblue;
    position: relative;
    top: -308px;
    left: 193px;
    transform: rotate(36deg);
    border-radius: 5px;
}
.b1{
    color: whitesmoke; 
    position: relative; 
    top: 15px;
    left: 40px;
}
.b2{
    color: black;
    position: relative; 
    top: 5px; 
    left: 45px;
}
.b3{
    color: navy; 
    position: relative; 
    top: 10px;
    left: 10px
}
.b4{
    color: black; 
    position: relative; 
    top: 5px; 
    left: 10px; 
}
.body{
    height: 150px;
    width: 120px;
    background-color: gray;
    position: relative;
    top: 80px;
    left: 60px;
    border-radius: 80px 0 0 0;
}
.face{
    height: 75px;
    width: 100px;
    background-color: gray;
    position: relative;
    top: -144px;
    left: 100px;
    border-radius: 20px;
}
.tail{
    height: 15px;
    width: 50px;
    background-color: gray;
    position: relative;
    top: -10px;
    left: 15px;
    border-radius: 8px;
}
.e1, .e2 {
    width: 0;
    height: 0;
    border-bottom: 30px solid gray; 
    border-left: 20px solid transparent;
    position: relative;
}
.e1{
    bottom: 100px;
    left: 100px;
}
.e2{
    bottom: 130px;
    left: 50px;
}
.inner1, .inner2 {
    height: 30px;
    width: 2px;
    background-color: pink;
    border-right: solid gray 2px;
}
.i1, .i2 {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    position: relative;
}
.i1{
    bottom: -20px;
    left: 60px;
}
.i2 {
    bottom: 10px;
    left: 25px;
}
.p1, .p2{
    width: 25px; 
    height: 25px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 5px;
    top: 5px;
}
.nose{
    height: 0;
    width: 0;
    border-top: 7px solid pink;
    border-left: 7px solid transparent;
    position: relative; 
    left: 54px;
    top: -12px;
    transform: rotate(-225deg);
}


footer {
    background-color: rgb(177, 222, 220);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}
.bg-footer {
    background-color: rgb(177, 222, 220);
}
/* Sleepy Orange Cat CSS */
.container-sleepy{
    width: 400px;
    height: 300px;
    margin: 30px;
}
.sleepy-body{
    height: 110px; 
    width: 200px; 
    background-color: rgb(245, 188, 80);
    position: relative;
    top: 100px;
    left: 110px;
    border-radius: 80px 80px 0 0;
}
.sleepy-head{
    height: 70px;
    width: 80px;
    background-color: rgb(245, 188, 80);
    position: relative;
    top: 30px; 
    left: 300px;
    border-radius: 0 80px 80px 0;
}
.sleepy-e1, .sleepy-e2{
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(245, 188, 80); 
    border-right: 20px solid transparent;
    position: relative;
}
.sleepy-e1{
    bottom: 60px;
    left: 340px;
}
.sleepy-e2{
    bottom: 90px;
    left: 320px;
}
.sleepy-l1, .sleepy-l2 {
    height: 15px; 
    width: 40px;
    background-color: white;
    position: relative;
    top: 0; 
    left: 10px;
    border-radius: 7px;
}
.sleepy-l1{
    top: -45px; 
    left: 145px
}
.sleepy-l2{
    top: -60px;
    left: 220px;
}
.sleepy-tail{
    height: 20px;
    width: 100px;
    background-color: rgb(245, 188, 80);
    position: relative;
    left: 20px;
    top: -80px;
    border-radius: 8px;
}
.sleepy-i1{
    top: 10px;
    left: 10px;
 }
 .sleepy-i2{
     top: -20px; 
     left: 40px;
 }
 .sleepy-i1, .sleepy-i2 {
     width: 30px;
     height: 30px;
     background-color: whitesmoke;
     border-radius: 20px;
     position: relative;
 }
 .sleepy-p1, .sleepy-p2{
    width: 25px; 
    height: 25px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 2px;
    top: 2px;
}
.sleepy-nose{
    height: 0;
    width: 0;
    border-top: 7px solid black;
    border-left: 7px solid transparent;
    position: relative; 
    left: 37px;
    top: -20px;
    transform: rotate(-225deg);
}
.stripe1{
    height: 50px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 97px;
    border-radius: 10px;
}
.stripe2{
    height: 40px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 130px;
    border-radius: 10px;
    top: -48px;
}
.stripe3{
    height: 40px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 65px;
    border-radius: 10px;
    top: -89px;
}


/* Login Form CSS */
.login-form, .search{
    margin: 20px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}
.login-form input, .login-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.login-form input:focus, .login-form textarea:focus, .book-search:focus {
    background-color: rgba(255,255,255, 1);
    border: none;
  }
.btn{
    width: 75%;
    border: none;
    background: rgb(254, 155, 169);
    color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.btn:hover{
    color: white;
}
.login-info > * {
    flex: 1;
    margin: 15px;
}
.login-info a {
    color: white;
}

/* Main middle section */
.main{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}


/* Search Form Css */
.search {
    height: 480px;
    width: 250px;
    background:rgb(254, 155, 169);
    border-radius: 10px;
    padding: 10px;
}
