body{
    background-color: rgb(246, 222, 226);
}
header h1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(177, 222, 220);
}
.main{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    height: 100%;
    width: 100%;

}
p {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.info{
    padding: 10px; 
    margin: 10px
}
#cover {
        height: auto; 
        width: auto; 
        max-width: 400px; 
        max-height: 400px;
}
.comment{
    padding: 20px;
    margin: 20px;
    justify-content: center;
    border-radius: 20px;
    background-color: lightpink;
}

footer {
    background-color: rgb(177, 222, 220);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}
/* Sleepy Orange Cat CSS */
.container-sleepy{
    width: 400px;
    height: 300px;
    margin: 30px;
}
.sleepy-body{
    height: 110px; 
    width: 200px; 
    background-color: rgb(245, 188, 80);
    position: relative;
    top: 100px;
    left: 110px;
    border-radius: 80px 80px 0 0;
}
.sleepy-head{
    height: 70px;
    width: 80px;
    background-color: rgb(245, 188, 80);
    position: relative;
    top: 30px; 
    left: 300px;
    border-radius: 0 80px 80px 0;
}
.sleepy-e1, .sleepy-e2{
    width: 0;
    height: 0;
    border-bottom: 30px solid rgb(245, 188, 80); 
    border-right: 20px solid transparent;
    position: relative;
}
.sleepy-e1{
    bottom: 60px;
    left: 340px;
}
.sleepy-e2{
    bottom: 90px;
    left: 320px;
}
.sleepy-l1, .sleepy-l2 {
    height: 15px; 
    width: 40px;
    background-color: white;
    position: relative;
    top: 0; 
    left: 10px;
    border-radius: 7px;
}
.sleepy-l1{
    top: -45px; 
    left: 145px
}
.sleepy-l2{
    top: -60px;
    left: 220px;
}
.sleepy-tail{
    height: 20px;
    width: 100px;
    background-color: rgb(245, 188, 80);
    position: relative;
    left: 20px;
    top: -80px;
    border-radius: 8px;
}
.sleepy-i1{
    top: 10px;
    left: 10px;
 }
 .sleepy-i2{
     top: -20px; 
     left: 40px;
 }
 .sleepy-i1, .sleepy-i2 {
     width: 30px;
     height: 30px;
     background-color: whitesmoke;
     border-radius: 20px;
     position: relative;
 }
 .sleepy-p1, .sleepy-p2{
    width: 25px; 
    height: 25px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    left: 2px;
    top: 2px;
}
.sleepy-nose{
    height: 0;
    width: 0;
    border-top: 7px solid black;
    border-left: 7px solid transparent;
    position: relative; 
    left: 37px;
    top: -20px;
    transform: rotate(-225deg);
}
.stripe1{
    height: 50px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 97px;
    border-radius: 10px;
}
.stripe2{
    height: 40px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 130px;
    border-radius: 10px;
    top: -48px;
}
.stripe3{
    height: 40px; 
    width: 10px;
    background-color: orange;
    position: relative;
    left: 65px;
    border-radius: 10px;
    top: -89px;
}


/* Login Form CSS */
.login-form {
    margin: 20px;
    justify-content: space-between;
}
.login-form input, .login-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}
.login-form input:focus, .login-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    border: none;
  }
.login-form button {
    width: 100%;
    border: none;
    background: lightpink;
    color: black;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.login-form button:hover {
    color: #fce138;
    background: #39a6b2;
}
.login-info > * {
    flex: 1;
    margin: 15px;
}
.login-info a {
    color: #fce138;
}